{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Assemble New UAV</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Assemble</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    // Update available parts based on selected UAV type
    $('#id_type').change(function() {
        var uavType = $(this).val();
        
        // Update each part select field
        ['wing', 'body', 'tail', 'avionics'].forEach(function(partType) {
            var select = $('#id_' + partType);
            select.find('option:not(:first)').remove();
            
            // Filter parts by UAV type using AJAX
            $.get('/api/parts/', {
                type: partType,
                uav_type: uavType,
                is_used: false
            }, function(data) {
                data.forEach(function(part) {
                    select.append(new Option(part.serial_number, part.id));
                });
            });
        });
    });
});
</script>
{% endblock %}
